*{
    margin: 0;
    padding:0;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.button{
    background: linear-gradient(45deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius:1.5rem;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;

}

/* navbar style */
nav{
    max-width:1600px;
    max-height: 92px;
    width: 100%;
    background-color: #1A0B2E;
    border-bottom: 1px solid #483e55;
}
.navbar{
    color:#FFFFFF;
    margin:0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.9rem 0;
}
.navbar-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2.28rem;
}
.navbar h3{
    font-size: 2.82rem;
    font-weight: bolder;
}
.navbar span{
    background: linear-gradient(45deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    background-clip: text;
    color: transparent;
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color:#FFFFFF;
}

.hamburger img{
    display: none;
}
/* header style */
.container {
    position:relative;
    display: block;
    width: 1600px;
    width:100%;
            
}
.hero-bg{
    background-size: cover;
    background-position: center;
    width:100%;
    height: auto;
    object-fit: cover;
 }

.hero-circle {
    position: absolute;
    top:35%;
    left:50%;
    width:22%;
    transform: translate(-50%,-50%);

}
.microphone{
    position: absolute;
    top:35%;
    left:50%;
    width:8%;
    transform: translate(-50%,-50%);
}
.new{
    font-size: 1.13rem;
    color:#1A0B2E;
    font-weight: 600;
    position:absolute;
    top:15%;
    left:56.5%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    background-color: #00FF88;
    border:none;
    border-radius: 1.5rem;
    padding:0.5rem 1rem;
    box-shadow: 0.1rem 0rem 1rem 0.1rem #658f7b;
}
.header-content {
    width:34.38rem;
    height: 10.56rem;
    text-align: center;
    position: absolute;
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
}
.header-content h2{
    margin-top: 2.5rem;
    font-size: 3.75rem;
    font-weight: bolder;
    color: #FFFFFF;
    
}
.header-content p{
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 200;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}
.header-content img{
    display: block;
}
.Spotify{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.Subscribe{
    color: #00FF88;
    border: 1px solid #00FF88;
    background: transparent;
    border-radius: 1.5rem;
    padding: 0.75rem 1.5rem;
}
.header-content div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}

/* responsive brekpoints */

@media screen  and (max-width:576px){
    .navbar{
        margin-left: 1rem ;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .navbar h3{
        padding:0.2rem 0;
        font-size: 2rem;
        margin-left:2rem;
    }
    .navbar-menu , .button-1  {
        display:none;
    }
    .hamburger img{
        display: block;
    } 
    .new{
    font-size: 0.5rem;
    padding:0.3rem 0.8rem;
    }
    .header-content {
    width:24.38rem;
    height: 5.56rem;
    }
    .header-content h2{
    margin-top: 0.5rem;
    font-size: 2.2rem;
    }
    .header-content p{
    font-size: 0.5rem;
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
    }
    .Subscribe{
    font-size: 0.6rem;
    padding: 0.5rem 1rem;
    }
    .button{
    padding: 0.5rem 1rem;
    font-size: 0.6rem;

    }
    
}

