*{
    margin: 0;
    padding:0;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.button{
    background: linear-gradient(45deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius:1.5rem;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;

}
body{
    max-width: 1600px;
    width:100%;
    margin:0 auto;
}

/* navbar style */
nav{
    max-width:1600px;
    max-height: 92px;
    width: 100%;
    background-color: #1A0B2E;
    border-bottom: 1px solid #483e55;
}
.navbar{
    color:#FFFFFF;
    margin:0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.9rem 0;
}
.navbar-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2.28rem;
}
.navbar h3{
    font-size: 2.82rem;
    font-weight: bolder;
}
.navbar span{
    background: linear-gradient(45deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    background-clip: text;
    color: transparent;
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color:#FFFFFF;
}

.hamburger img{
    display: none;
}
/* header style */
.container {
    position:relative;
    width: 1600px;
    width:100%;
            
}
.container img{
    display: block;
}
.hero-bg{
    background-size: cover;
    background-position: center;
    width:100%;
    height: auto;
    object-fit: cover;
 }

.hero-circle {
    position: absolute;
    top:35%;
    left:50%;
    width:22%;
    transform: translate(-50%,-50%);

}
.microphone{
    position: absolute;
    top:35%;
    left:50%;
    width:8%;
    transform: translate(-50%,-50%);
}
.new{
    font-size: 1.13rem;
    color:#1A0B2E;
    font-weight: 600;
    position:absolute;
    top:15%;
    left:56.5%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    background-color: #00FF88;
    border:none;
    border-radius: 1.5rem;
    padding:0.5rem 1rem;
    box-shadow: 0.1rem 0rem 1rem 0.1rem #658f7b;
}
.header-content {
    width:34.38rem;
    height: 10.56rem;
    text-align: center;
    position: absolute;
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
}
.header-content h2{
    margin-top: 2.5rem;
    font-size: 3.75rem;
    font-weight: bolder;
    color: #FFFFFF;
    
}
.header-content p{
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 200;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}
.header-content img{
    display: block;
}
.Spotify{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.Subscribe{
    color: #00FF88;
    border: 1px solid #00FF88;
    background: transparent;
    border-radius: 1.5rem;
    padding: 0.75rem 1.5rem;
}
.header-content div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}
/* section 1 */
.section-1-container{
    background-color: #1A0B2E;
    max-width: 1600px;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    padding-top: 3.13rem;
    padding-bottom: 7.5rem;
}
.section-1{
    max-width: 1200px;
    width:100%;
    margin:0 auto;
}
.section-1  h3{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.section-1 p{
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 300;
}
.p1{
    margin-bottom: 3.75rem;
}
.p2{
    margin-bottom: 4.97rem;
}
hr{
    border:none;
    height: 0.12rem;
    background-color: #483e55;
}
.card{
    margin-top: 5.03rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap:5rem;
}
/* .cards{
    border:1px solid #00FF88;
} */
.cards h2{
    color: #00FF88;
    font-size: 3rem;
}
.cards p{
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1rem;
}
/* section-2 */
.section-2-container{
    background-color:#230E3D;
    max-width: 1600px;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}
.section-2{
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
}
.section-2 h2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
}
.choose-cards{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:1.9rem;
    
}
.choose-card{
    background-color: #351165;
    padding: 2.5rem;
    border-radius: 1.9rem;
    text-align: left;
}
.choose-cards img{
    display: block;
    margin-bottom: 1rem;
}
.choose-cards h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.choose-cards p{
    font-size: 1rem;
    font-weight: 400px;
    line-height: 1.5rem;
}
.card-1{
    padding-top: 6rem;
    grid-row: span 2;
}
.card-2{
    grid-column: span 2;
}
.card-3{
    grid-column: span 2;
}
.card-4{
    grid-column: span 2;
}
/* section-3 */
.section-3-container{
    background-color:#1A0B2E;
    max-width: 1600px;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;

}
.section-3{
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
}
.section-3 h2{
    font-size: 2.82rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
}
.clock{
    display: flex;
    gap: 0.4rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    color:#00FF88;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}
.episode-card iframe{
    width:100%;
    height: auto;
    border-top-left-radius:10% ;
    border-top-right-radius: 10%;
}
.episodes-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: left;
    max-width: 1200px;
     gap:1.9rem;
    
}
.episode-card{
    background-color: #250D44;
    border-radius: 10%;
}
.episode-card h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0.75rem;
}
.ppp{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0.75rem;
}

/* section-4 */
.section-4-container{
    background-color:#1A0B2E;
    max-width: 1600px;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 7.5rem;

}
.section-4{
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
}
.section-4 h2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
}
.host-details{
    background-color: #250D44;
    border-radius: 2rem;
    display: flex;
    gap:1.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
}
.host-content{
    text-align: left;
}
.host-content h3{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.host-content p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
.host-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:0.5rem;
    max-width: 11.5rem;
}
.host-icon img{
    border: 1px solid #483e55;
    border-radius: 50%;
    padding:1rem ;
    overflow:visible;
}
/* responsive brekpoints */

@media screen  and (max-width:576px){
    .navbar{
        margin-left: 1rem ;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .navbar h3{
        padding:0.2rem 0;
        font-size: 2rem;
        margin-left:2rem;
    }
    .navbar-menu , .button-1  {
        display:none;
    }
    .hamburger img{
        display: block;
        margin-left: 18rem;
    } 
    .new{
    font-size: 0.4rem;
    padding:0.2rem 0.7rem;
    }
    .header-content {
    width:22.38rem;
    height: 3.56rem;
    }
    .header-content h2{
    margin-top: 0.5rem;
    font-size: 2.5rem;
    }
    .header-content p{
    font-size: 1rem;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    }
    .Subscribe{
    font-size: 1rem;
    padding: 0.5rem 0.7rem;
    }
    .button{
    padding: 0.5rem 0.7rem;
    font-size: 1rem;

    }

    .section-1-container{
        padding-top: 7.5rem;
    }
    .section-1{
    width:100%;
    margin:0 auto;
    }
    .section-1  h3{
    font-size: 2rem;
    }
    .section-1 p{
    font-size: 1rem;
    }
    .p1{
    margin-bottom: 2rem;
    }
    .p2{
    margin-bottom: 2.97rem;
    }
    .card{
    margin-top: 3.03rem;
    grid-template-columns: repeat(2,1fr);
    gap:2rem;
    }
    .cards h2{
    font-size: 2.5rem;
    }
    .section-2-container{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    }
    .section-2 h2{
    font-size: 2rem;
    }

    .choose-cards{
    grid-template-columns: repeat(1,1fr);
    gap:1rem;
    }
    .choose-card{
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1rem ;
    }
    .choose-cards h3{
    font-size: 1.4rem;
    }
    .section-3-container{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    }
    .section-3 h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    }
    .episodes-cards{
    grid-template-columns: repeat(1,1fr);
    }
    .episode-card{
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1rem ;
    }
    .episode-card iframe{
    border-top-left-radius:1rem ;
    border-top-right-radius: 1rem;
    }

    .section-4-container{
    padding-bottom: 2.5rem;
    }
    .section-4 h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    }
    .host-details{
    border-radius: 1rem;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    }
    .host-content{
    text-align: center;
    }
    .host-content h3{
    font-size: 1.5rem;
    }
    .host-icon{
    text-align: center;
    margin-left: 5.25rem;
    }
}

